*{
    padding: 0;
    margin: 0;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 105, 233, 0.8),rgba(0, 105, 233, 0.8)), url(img/background.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    height: 12%;
}

.navbarleft {
    flex-basis: 70%;
    background:rgb(140, 140, 140, 0.1);
    border-bottom: 1 px solid rgba(255, 255, 255, 0.5);
}

.navbarinner {
    display:flex;
    align-items: center;
    padding: 45px 50px 10px 50px;
}

.navbarinner ul {
    margin-left:20px;
    z-index: 2;
}

.navbarinner ul li {
    margin: 0 10px;
    display: inline-block;
}
.navbarinner ul li a {
    text-decoration: none;
    color: #fff;
}

.navbarright {
    flex-basis: 30%;
    background:#fff;
}
.navbarright ul {
    float: right;
    padding: 35px 50px 10px;
}

.navbarright ul li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.content {
    display: flex;
    height: 88%;
}

.contentleft {
    flex-basis:70%;
    position: relative;
}

.contentright {
    flex-basis:30%;
    position: relative;
    background-color: #fff;
}
.uppertext {
    left: 15%;
    top:20%;
    position: relative;
}